<html>
	<head>
		<style type="text/css">
			a:link, a:active, a:visited {
				color: black;
				text-decoration: none;
			}
			a:hover {
				text-decoration: none;
				color: red;
			}

			@font-face {
				font-family: 'Cutive Mono';
				font-style: normal;
				font-weight: 400;
				src: local('Cutive Mono'), local('CutiveMono-Regular'), url('/css/CutiveMono-Regular.ttf') format('truetype');
			}
			body {
				font-family: 'Cutive Mono', serif;
				letter-spacing: -1px;
			}
			.container {
				width: 1024px;
				margin: 0 auto;
				padding: 10px 0 10px 0;
			}
			.set {
				font-size: 2em;
			}
			.title {
				font-size: 3em;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="title">
				photos<br>
				-
			</div>
			{% for set in photosets %}
				<div class="set">
					<a href="/{{set.create_year}}/{{set.short_title}}">{{set.create_date_str}} | {{set.title}}</a> <br>
				</div>
			{% endfor %}
		</div>
	</body>
</html>

