<html>
	<head>
		<style type="text/css">
			body {
				font-family: sans-serif;
			}
			.container {
				width: 1024px;
				margin: 0 auto;
				padding: 10px 0 10px 0;
			}
		</style>
	</head>
	<body>
		<div class="container">
			{% for set in photosets %}
				<a href="/set/{{set.short_title}}">{{set.title}}</a> ({{set.create_date_str}})<br>
			{% endfor %}
		</div>
	</body>
</html>

