<html>
	<head>
		<style type="text/css">
			body {
				font-family: sans-serif;
			}
			.container {
				width: 1024px;
				margin: 0 auto;
				padding: 10px 0 10px 0;
			}
			.set-title {
				margin: 10px 0 10px 0;
				font-size: 2em;
			}
		</style>
	</head>
	<body>
		<div class="container">
			{% for set in photosets %}
				<div class="set-title">
					{{set.title}}
				</div>
				<div class="photos">
					{% for photo in set.photos %}
						<img src="{{photo.url}}"><br>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</body>
</html>

