<html>
	<head>
		<style type="text/css">
			@font-face {
				font-family: 'Cutive Mono';
				font-style: normal;
				font-weight: 400;
				src: local('Cutive Mono'), local('CutiveMono-Regular'), url('/css/CutiveMono-Regular.ttf') format('truetype');
			}
			body {
				font-family: 'Cutive Mono', serif;
				letter-spacing: -1px;
			}
			.container {
				width: 1024px;
				margin: 0 auto;
				padding: 10px 0 10px 0;
			}
		</style>
	</head>
	<body>
		<div class="container">
			{% for set in photosets %}
				<a href="/{{set.create_year}}/{{set.short_title}}">{{set.title}}</a> ({{set.create_date_str}})<br>
			{% endfor %}
		</div>
	</body>
</html>

