<html>
	<head>
		<style type="text/css">

			@font-face {
				font-family: 'Cutive Mono';
				font-style: normal;
				font-weight: 400;
				src: local('Cutive Mono'), local('CutiveMono-Regular'), url('/css/CutiveMono-Regular.ttf') format('truetype');
			}

			body {
				font-family: 'Cutive Mono', serif;
				letter-spacing: -1px;
			}
			.container {
				width: 1024px;
				margin: 0 auto;
				padding: 10px 0 10px 0;
			}
			.set-title {
				margin: 10px 0 0 0;
				font-size: 2em;
			}
			.back {
				display: inline-block;
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="set-title">
				{{photoset.title}} // {{photoset.create_date_str}}
			</div>
			<div class="set-description">
				{{photoset.description}}
			</div>
			<a href="/" class="back">back</a>
			<div class="photos">
				{% for photo in photoset.photos %}
					<img src="{{photo.url_large}}"><br>
				{% endfor %}
			</div>
		</div>
	</body>
</html>

