<html>
	<head>
		<style type="text/css">
			body {
				font-family: sans-serif;
			}
			.container {
				width: 1024px;
				margin: 0 auto;
				padding: 10px 0 10px 0;
			}
			.set-title {
				margin: 10px 0 10px 0;
				font-size: 2em;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="set-title">
				{{photoset.title}}
			</div>
			<div class="photos">
				{% for photo in photoset.photos %}
					<img src="{{photo.url_large}}"><br>
				{% endfor %}
			</div>
		</div>
	</body>
</html>

